html, body, input,form {
  padding: 0;
  margin: 0;
}

html{
  font-size: 20px;
}
body, #root{
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}
#root{
  flex:1;
}